<% include partials/header %>
<div class='ui main text container'>
    <div class='ui huge header'>RESTful Blog</div>
    <div class='ui top attached segment'>
        <div class='ui divided items'>
            <% blogs.forEach(function(blog){ %>
                <% if (blog.title.length > 5) {%>
                   <div class='item'>
                       <div class='image'>
                           <a href='/blogs/<%= blog._id %>'>
                               <img src='<%= blog.image %>'>
                           </a>
                       </div>
                       <div class='content'>
                           <a class='header' href='/blogs/<%= blog._id %>'><%= blog.title %></a>
                           <div class='meta'>
                               <span><%= blog.created.toDateString() %></span>
                           </div>
                           <div class='description'>
                               <p><%= blog.body.substring(0, 100) %>...</p>
                           </div>
                           <div class='extra'>
                               <a class='ui floated basic yellow button' href='/blogs/<%= blog._id %>'><%= blog.title %>
                                   Read More
                                   <i class='right chevron icon'></i>
                               </a>
                           </div>
                       </div>
                   </div>
               <% }%>
            <% }); %>            
        </div>
    </div>
</div>

<% include partials/footer %>
    